@media (max-width: 1400px) {
    .MuiList-root {
        padding: 8px 0;
    }
    .MuiTypography-h6 {
        font-size: 1.3rem !important;
    }
    .MuiListItemIcon-root svg {
        font-size: 2.2rem !important;
    }
    .MuiListItemText-primary {
        font-size: 1.1rem !important;
    }
    
    .relatorios-box {
        width: 100 !important;
        height: 100vh !important;
        min-width: 320px;
        min-height: 300px;
        margin: 0 auto !important;
    }
}


