.aba-produtos {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  gap: 50px;
  height: 100px;
}

.aba-produtos-titulo {
  position: relative;
    padding: 20px;
    border-radius: 16px;
    width: 200px;
    background-color: white;
    margin-left: 95px;
    text-align: center;
}

.aba-produtos-titulo h2 {
   margin-left: 27px;
   font-weight: bold;
   color: #5e5e5e;
}

.aba-produtos-pesquisa {
    position: relative;
}

.tabela-produtos {
  width: 100%;
  min-height: 70vh;
  margin-top: 50px;
}
