@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 90%;
    gap: 20px; 
    padding: 20px;
    box-sizing: border-box; 
}

.card-estoque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px; 
    width: 557px;
    padding: 20px;
    gap: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


/* Cores das letras */
.cardP{
    font-family: 'Montserrat';
    color: #ff0000;
}
.cardQ{
    font-family: 'Montserrat';
    color: green;
}
.cardC{
    font-family: 'Montserrat';
    text-align: center;
    color: blue;
}

/* abaixo é tudo pro atalhos*/
.container-atalho{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    width: 90%;
    gap: 20px; 
    padding: 20px;
    box-sizing: border-box; 
}

.div-atalho{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.card-atalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px; 
    width: 557px;
    padding: 20px;
    gap: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
}

.atalhoE {
    font-family: 'Montserrat';
    color: #000000;
}

.atalhoP {
    font-family: 'Montserrat';
    color: #000000;
}

.atalhoS {
    font-family: 'Montserrat';
    color: #000000;
}

#atalho{
    position: absolute;
    top: 51%;
    left: 5.1%;
}

/* Responsividade para laptops */
@media (max-width: 1400px ) {
    .container-inicial {
        width: 100%; 
        gap: 15px; 
    }

     #atalho{
        top: 51%;
        left: 5%;
     }

    .card-estoque {
        width: 395px; 
        height: 220px; 
    }

    .card-atalho {
        width: 395px; 
        height: 220px; 
    }

    .container-atalho {
        width: 100%; 
        gap: 15px; 
    }
}




