.header {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
    width: 90%;
    height: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066FF;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 200px;
    height: 100px;
}

.logo-header {
    width: 100px;
    height: 30px;
}

.navbar {
    display: flex;
    width: 50%;
    height: 100px;
}

.navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
    height: 100px;
    gap: 30px;
}

.navlist li {
    display: flex;
    align-items: center;
    margin-left: 30px;
    position: relative;
    list-style-type: none;
}

.navlist a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-decoration: none;
    color: rgb(94, 94, 94);
    font-size: 20px;
    font-weight: 700;
}

.navlist a:hover {
    color: black;
    transition: 0.6s;
}

.navlist a::before {
    position: absolute;
    content: '';
    top: 203%; /* Ajuste para alinhar o pseudo-elemento logo abaixo do texto */
    left: 0;
    width: 0;
    height: 4px;
    background: black;
    transition: width 0.3s ease-in-out; /* Adiciona uma transição suave */
}

.navlist a:hover::before {
    width: 100%; /* Expande o pseudo-elemento ao passar o mouse */
}